* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: rgb(30, 30, 30);
    height: 80px;
    width: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

main {
    background: #fff;
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.06); */
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em 2em 4em;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 40px;
    line-height: 40px;
    text-align: center;
}

.nav-link {
    color: rgb(181, 181, 181);
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
   font-size: 18px;
   margin: 0 10px;
   line-height: 80px;
   text-transform: uppercase;
   width: max-content; 
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    text-decoration: none;
    color: rgb(181, 181, 181);
}

.nav-menu-link:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.button:hover {
    color:rgb(255, 255, 255);
}

.form-group {
    margin-bottom: 15px;
}

.form-group-end {
    margin-bottom: 15px;
    text-align: center;
}

.form-input, .form-select {
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

label {
    display:inline-block;
    max-width:100%;
    margin-bottom:5px;
    font-weight:700;
}

small {
    font-size:80%;
}

.text-muted {
    color:#777;
}

.text-center {
    text-align: center;
}

.table thead {
    background-color: #363636;
    color:rgb(255, 255, 255);
}

@keyframes shake {
    0% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}
  
.shake {
    animation: shake 0.5s;
}
