<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Alta | MediManage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" th:href="@{/static/css/main.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="container-main">
            <h1>Alta</h1>
            <a href="/gestion"><button type="submit">Volver atrás</button></a>
            <a href="/home"><button type="submit">Cerrar sesión</button></a>
        </div>
    </body>
</html>
