<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home | MediManage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="nav">
                <a href="/" class="logo nav-link">MediManage</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="/home" class="nav-menu-link">Home</a></li>
                    <li class="nav-menu-item"><a href="/login" class="nav-menu-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="text-center">
                <img th:src="@{img/header.jpg}" alt="header">
                <h1>Welcome to MediManage</h3>
                <h4>Log in to start working!</p>
                <a class="button" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </div>
        </main>
    </body>
</html>
