<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login | MediManage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="nav">
                <a href="/" class="logo nav-link">MediManage</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="/home" class="nav-menu-link">Home</a></li>
                    <li class="nav-menu-item"><a href="/login" class="nav-menu-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1 class="text-center">Login</h1>
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-input" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-input" id="passwordInput" placeholder="Password">
            </div>
            <div id="loginOutput" class="text-center"></div>
            <div class="text-center"><button type="submit" id="loginButton" class="button"><span class="glyphicon glyphicon-log-in"></span> Log in</button></div>
        </main>

        <script>
            $(document).ready(function() {
                $('#loginButton').click(function() {
                    var email = $('#emailInput').val();
                    var password = $('#passwordInput').val();
                    // Validate if email and password are not empty.
                    if (!email || !password) {
                        alert('Please enter both email and password.');
                        return;
                    }
                    var data = {
                        "email": email,
                        "password": password
                    };
                    $.ajax({
                        url: '/login-process',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        complete: function(response) {
                            // console.log(response.responseJSON);
                            if (response.responseJSON == true) {
                                window.location.href = '/prescriptions-management';
                            }
                            if (response.responseJSON == false) {
                                $('#loginOutput').html("<p style='color: red;'>Invalid email or password.</p>");
                                $('#loginOutput').addClass('shake');
                                
                                setTimeout(function() {
                                    $('#loginOutput').removeClass('shake');
                                }, 1000);
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>
