<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Prescription Management | MediManage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="nav">
                <a href="/" class="logo nav-link">MediManage</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="/home" class="nav-menu-link">Home</a></li>
                    <li class="nav-menu-item"><a href="/prescriptions-management/discharge" class="nav-menu-link">Discharge</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link" id="logoutButton"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1 class="text-center">Prescription Management</h1>
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Doctor</th>
                            <th>Medicine</th>
                            <th>Patient</th>
                            <th>Expiration Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="output">
                        <tr th:if="${currentUser.id == prescription.idDoctor.id}" th:each="prescription : ${prescriptions}">
                            <td th:text="${prescription.id}" class="text-center-vertically">ID</td>
                            <td th:text="${prescription.idDoctor.name}">Doctor</td>
                            <td th:text="${prescription.idMedicine.name}">Medicine</td>
                            <td th:text="${prescription.idPatient.name}">Patient</td>
                            <td th:text="${prescription.date}">Expiration Date</td>
                            <td>
                                <a th:href="@{/prescriptions-management/update/{id}(id=${prescription.id})}" class="btn btn-info">Update</a>
                                <a th:href="@{/prescriptions-management/delete/{id}(id=${prescription.id})}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <script>
            $(document).ready(function() {
                $('#logoutButton').click(function() {
                    $.ajax({
                        url: '/logout-process',
                        type: 'POST',
                        complete: function(response) {
                            // console.log(response.responseJSON);
                            if (response.responseJSON == true) {
                                alert("Ups! Something weird is happening and you can't log out...")
                            }
                            if (response.responseJSON == false) {
                                window.location.href = '/home';
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>
