<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Update Prescription | MediManage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="nav">
                <a href="/" class="logo nav-link">MediManage</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="/home" class="nav-menu-link">Home</a></li>
                    <li class="nav-menu-item"><a href="/prescriptions-management/discharge" class="nav-menu-link">Discharge</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link" id="logoutButton"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1 class="text-center">Update Prescription</h1>
            <div class="form-group">
                <label for="inputPrescription">Prescription ID</label>
                <input type="text" class="form-input" id="inputPrescription" placeholder="Prescription ID" th:value="${prescription.id}" readonly>
            </div>
            <div class="form-group">
                <label for="selectDoctor">Doctor</label>
                <select id="selectDoctor" class="form-select" required th:field="*{prescription.idDoctor}">
                    <option disabled selected value="">Select a doctor</option>
                    <option th:each="doctor : ${doctors}" th:if="${currentUser.id == doctor.id}" th:value="${doctor.id}" th:text="${doctor.name}">Doctor</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectMedicine">Medicine</label>
                <select id="selectMedicine" class="form-select" required th:field="*{prescription.idMedicine}">
                    <option disabled selected value="">Select a medicine</option>
                    <option th:each="medicine : ${medicines}" th:value="${medicine.id}" th:text="${medicine.name}">Medicine</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectPatient">Patient</label>
                <select id="selectPatient" class="form-select" required th:field="*{prescription.idPatient}">
                    <option disabled value="">Select a patient</option>
                    <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.name}">Patient</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputDate">Expiration Date</label>
                <input type="date" class="form-input" id="inputDate" placeholder="Password" th:value="${prescription.date}">
            </div>
            <div class="text-center"><button type="submit" class="button" id="updateButton">Update</button></div>
        </main>

        <script>
            $(document).ready(function() {
                $('#updateButton').click(function() {
                    var idPrescription = $('#inputPrescription').val();
                    var idDoctor = $('#selectDoctor').val();
                    var idMedicine = $('#selectMedicine').val();
                    var idPatient = $('#selectPatient').val();
                    var date = $('#inputDate').val();
                    // Validate if the data introduced is not empty.
                    if (idPrescription == null || idDoctor == null || idMedicine == null || idPatient == null || !date) {
                        alert('Please enter valid data.');
                        return;
                    }
                    var data = {
                        "idDoctor": idDoctor,
                        "idMedicine": idMedicine,
                        "idPatient": idPatient,
                        "date": date
                    };
                    $.ajax({
                        url: '/prescriptions/update/' + idPrescription,
                        type: 'PUT',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        complete: function(response) {
                            window.location.href = '/prescriptions-management';
                        }
                    });
                });
            });
            
            $(document).ready(function() {
                $('#logoutButton').click(function() {
                    $.ajax({
                        url: '/logout-process',
                        type: 'POST',
                        complete: function(response) {
                            // console.log(response.responseJSON);
                            if (response.responseJSON == true) {
                                alert("Ups! Something weird is happening and you can't log out...")
                            }
                            if (response.responseJSON == false) {
                                window.location.href = '/home';
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>
